
.singbtn{
    background: rgb(98,10,204);
    background: linear-gradient(180deg, rgba(98,10,204,1) 0%, rgba(13,16,147,1) 51%, rgba(16,6,207,1) 78%, rgba(0,212,255,1) 100%);
}













